@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Poppins:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900&display=swap');

@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: transparent;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
}

footer #datetime {
    padding: 25px;
    width: 400px;
}

footer #datetime h1 {
    color: #fff;
    font-size: 60px;
    padding-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    opacity: 0;
    transform: translateY(25%);
    animation: 0.5s fadeUp forwards;
    animation-delay: 0.25s;
}

@keyframes fadeUp {
    from { opacity: 0; transform: translateY(25%);}
    to { opacity: 1; transform: translateY(0%); }
}

footer #datetime p {
    color: #fff;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transform: translateY(-10%);
    animation: fadeIn forwards 0.5s;
    animation-delay: 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

main {
    height: 100vh;
    width: 100%;
    position: fixed;
}

div#hex {
    display: flex;
}

div#hex span {
    margin: 5px;
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    border: #fff 2px solid;
    transition: 0.2s;
    cursor: pointer;
}

div#hex span:hover {
    border: #fff 5px solid;
    transition: 0.2s;
}

div#hex p.colorname {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
div#colorName {
    padding: 5px;
}

/* Background colors */

/* Purple Hue*/
main.purple {
    background: linear-gradient(20deg, #6e48aa, #9d50bb, #b176cc 100%);
}

/* Purple Sky */
main.purpleSky {
    background: linear-gradient(20deg, #4568DC, #B06AB3);
}

/* Kye Meh */
main.kyeMeh {
    background: linear-gradient(20deg, #8360c3, #2ebf91);
}

/* Orange Coral */
main.orangeCoral {
    background: linear-gradient(20deg, #ff5e62, #ff9966);
}

/* Rose Colored */
main.roseColored {
    background: linear-gradient(20deg, #636FA4, #E8CBC0);
}

/* Firewatch */
main.fireWatch {
    background: linear-gradient(20deg, #cb2d3e, #ef473a);
}

/* Expresso */
main.expresso {
    background: linear-gradient(20deg, #ad5389, #3c1053);
}

/* Slight Ocean View */
main.expresso {
    background: linear-gradient(20deg, #3f2b96, #a8c0ff);
}

/* Relaxing Red */
main.relaxingRed {
    background: linear-gradient(20deg, #b20a2c, #fffbd5);
}

/* Pacific Dream */
main.pacificDream {
    background: linear-gradient(20deg, #0f3443, #34e89e);
}

/* Pacific Dream */
main.royal {
    background: linear-gradient(20deg, #141E30, #243B55);
}

/* Pacific Dream */
main.dusk {
    background: linear-gradient(20deg, #2C3E50, #243B55);
}