@font-face {
    src: url('fonts/WorkSans-Black.ttf');
    font-family: 'WorkSans', sans-serif;
    font-weight: 900;
}
@font-face {
    src: url('fonts/WorkSans-ExtraBold.ttf');
    font-family: 'WorkSans', sans-serif;
    font-weight: 800;
}
@font-face {
    src: url('fonts/WorkSans-Bold.ttf');
    font-family: 'WorkSans', sans-serif;
    font-weight: 700;
}
@font-face {
    src: url('fonts/WorkSans-SemiBold.ttf');
    font-family: 'WorkSans', sans-serif;
    font-weight: 600;
}
@font-face {
    src: url('fonts/WorkSans-Medium.ttf');
    font-family: 'WorkSans', sans-serif;
    font-weight: 500;
}
@font-face {
    src: url('fonts/WorkSans-Regular.ttf');
    font-family: 'WorkSans', sans-serif;
    font-weight: 400;
}
@font-face {
    src: url('fonts/WorkSans-Light.ttf');
    font-family: 'WorkSans', sans-serif;
    font-weight: 300;
}
@font-face {
    src: url('fonts/WorkSans-ExtraLight.ttf');
    font-family: 'WorkSans', sans-serif;
    font-weight: 200;
}
@font-face {
    src: 'fonts/WorkSans-Thin.ttf';
    font-family: 'WorkSans', sans-serif;
    font-weight: 100;
}


@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; }
p { font-family: 'WorkSans', sans-serif; color: #fff; text-shadow: 1px 1px 10px #000; font-size: 24px; }
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: transparent;
    display: flex;
}

footer #datetime {
    padding: 25px;
    width: 400px;
    -webkit-user-select: none;
    user-select: none;
}

footer #datetime h1 {
    color: #fff;
    font-size: 60px;
    padding-bottom: 0px;
    font-family: 'WorkSans', sans-serif;
    font-weight: 200;
    opacity: 0;
    transform: translateY(25%);
    animation: 0.5s fadeUp forwards;
    animation-delay: 0.25s;
    text-shadow: 1px 1px 10px #000;
}

@keyframes fadeUp {
    from { opacity: 0; transform: translateY(25%);}
    to { opacity: 1; transform: translateY(0%); }
}

footer #datetime p#displayJsDate {
    color: #fff;
    font-weight: 200;
    font-family: 'WorkSans', sans-serif;
    opacity: 0;
    font-size: 12px;
    transform: translateY(-10%);
    animation: fadeIn forwards 0.5s;
    animation-delay: 1s;
    text-shadow: 1px 1px 10px #000;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

main {
    height: 100vh;
    width: 100%;
    position: fixed;
}

div#hex {
    display: flex;
}

div#hex span {
    margin: 5px;
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    border: #fff 2px solid;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 0px #333;
}

div#hex span:hover {
    border: #fff 5px solid;
    transition: 0.2s;
}

div#hex span p {
    position: absolute;
    top: 0;
    animation: none;
    opacity: 1;
    background: #000;
    padding: 10px;
    transform: translate(-50%,-150%);
    left: 50%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 5px;
    width: 70px;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
    font-size: 12px;
}

div#hex span p::after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}


div#hex span input.tooltip{
    background: transparent;
    opacity: 0;
    cursor: pointer;
    width: 5px;
}

div#hex span:hover p {
    opacity: 1;
    transition: 0.3s;
    color: #fff;
}

div#hex p.colorname {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

div#colorName {
    padding: 5px;
    color: #fff;
    text-shadow: 1px 1px 10px #000;
    font-family: 'WorkSans', sans-serif;
    font-weight: 100;
}

#spitfact {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fadeIn forwards 0.5s;
    opacity: 0;
    animation-delay: 1.25s;
    text-align: center;
    text-shadow: 1px 1px 10px #000;
}
#spitfact q {
    font-size: 24px;
    font-weight: 100;
    font-family: 'WorkSans', sans-serif;
    color: #fff;
}
div#link a {
    color: #fff;
    display: block;
    padding: 3px;
    box-shadow: 1px 1px 50px rgba(0,0,0,0.4);
    border-radius: 100px;
    background: rgba(255,255,255,0.2);
    height: 50px;
    width: 50px;
    transition: 0.3s;
    user-select: none;
    animation: fadeUp forwards 0.5s;
    opacity: 0;
    animation-delay: 1.25s;
}
div#link a:hover{
    color: #fff;
    display: block;
    padding: 3px;
    transition: 0.3s;
    background: rgba(255,255,255,0.4);
    height: 50px;
    user-select: none;
    width: 50px;
}
div#link {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div#link #src {
    height: 100%;
    width: 100%;
    padding: 7.5px
}