@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Poppins:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900&display=swap');

@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: transparent;
    display: flex;
}

footer #datetime {
    padding: 25px;
    width: 400px;
    -webkit-user-select: none;
    user-select: none;
}

footer #datetime h1 {
    color: #fff;
    font-size: 60px;
    padding-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    opacity: 0;
    transform: translateY(25%);
    animation: 0.5s fadeUp forwards;
    animation-delay: 0.25s;
}

@keyframes fadeUp {
    from { opacity: 0; transform: translateY(25%);}
    to { opacity: 1; transform: translateY(0%); }
}

footer #datetime p#displayJsDate {
    color: #fff;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    transform: translateY(-10%);
    animation: fadeIn forwards 0.5s;
    animation-delay: 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

main {
    height: 100vh;
    width: 100%;
    position: fixed;
}

div#hex {
    display: flex;
}

div#hex span {
    margin: 5px;
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 100px;
    border: #fff 2px solid;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
}

div#hex span:hover {
    border: #fff 5px solid;
    transition: 0.2s;
}

div#hex span p {
    position: absolute;
    top: 0;
    animation: none;
    opacity: 1;
    background: #000;
    padding: 10px;
    transform: translate(-50%,-150%);
    left: 50%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 5px;
    width: 70px;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    text-align: center;
}

div#hex span p::after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}


div#hex span input.tooltip{
    background: transparent;
    opacity: 0;
    cursor: pointer;
    width: 5px;
}

div#hex span:hover p {
    opacity: 1;
    transition: 0.3s;
    color: #fff;
}

div#hex p.colorname {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

div#colorName {
    padding: 5px;
    color: #fff;
}

#spitfact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fadeIn forwards 0.5s;
    opacity: 0;
    animation-delay: 1.25s;
    text-align: center;
}
#spitfact q {
    font-size: 24px;
    font-weight: 100;
    color: #fff;
    text-align: center;
}
